<div>
    <div>
        <label for="search">Enter City Name</label>
    </div>
    <div>
        <input id="search" (input)="searchTerm = $event.target.value" />
    </div>
    <button type="button" (click)="justPrint()">Let's Search</button>
</div>
<div *ngIf="latestInfo">
    <div>
        <label for="description"> Description </label>
        <span id="description"> {{ latestInfo.weather[0].description }}</span>
        <label for="main"> Main </label>
        <span id="main"> {{ latestInfo.weather[0].main }}</span>
    </div>
    <div>
        <label for="humidity"> Humidity </label>
        <span id="humidity"> {{ latestInfo.main.humidity }}</span>
    </div>

</div>