<div class="container">
            <div class="ui labeled input">
                <div class="ui label">
                 City Name:
                </div>
                <input type="text" (input)="searchTerm = $event.target.value" placeholder="Enter City Name"/>
                <button class="ui secondary button" type="button" (click)="justPrint()">Let's Search</button>
              </div>
            <!-- <label for="search">Enter City:</label>
            <div>
                <input id="search" (input)="searchTerm = $event.target.value" />
            </div> -->
            
        



    <div *ngIf="latestInfo">
        <div class="ui card">
            <div class="content">
                <a class="header first">Weather Report</a>
                <div class="meta">
                    <span class="header">{{searchTerm}}</span>
                </div>
                <div class="description">
                    {{ latestInfo.weather[0].description }}
                </div>
            </div>
            <div class="extra content">
                {{latestInfo.main.humidity}}
            </div>
        </div>
        <!-- <div>
        <label for="description"> Description </label>
        <span id="description"> {{ latestInfo.weather[0].description }}</span>
        <label for="main"> Main </label>
        <span id="main"> {{ latestInfo.weather[0].main }}</span>
    </div>
    <div>
        <label for="humidity"> Humidity </label>
        <span id="humidity"> {{ latestInfo.main.humidity }}</span>
    </div> -->

    </div>
</div>