.container{
    background: url("/assets/weather.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    height: 100vh;
    
    
}
.ui.input{
    margin: 10%;
    margin-left: 35%;
    margin-top: 8%;
}

.ui.card{
    margin-left:28%;
    width: 45%;
    background: rgba(224, 221, 221, 0.596)
    /* opacity: 0.7; */
}
a.header{
    text-decoration:underline;
    width:180px
}
.meta{
    text-transform: uppercase;
    
}
#search{
    font-weight: 600;
}
.header{
    font-size: 20px;
    font-weight: 400;
}
.ui.grid{
    margin-left: 20%;
    font-size: 18px;
    font-weight: 500;
}