.container{
    background: url("/assets/weather.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.ui.input{
    margin: 10%;
    margin-left: 35%;
    margin-top: 8%;
}

.ui.card{
    margin-left:28%;
    width: 40%;
    background: rgba(224, 221, 221, 0.596)
    /* opacity: 0.7; */
}
a.header{
    text-decoration:underline;
    width:180px
}
.meta{
    text-transform: uppercase;
    
}
.header{
    margin: 20px;
    display: block;
    font-weight: 500;
    text-decoration: underline;
    color: white;
    font-size: 20px;
}
.pop {
    
    font-size: 18px;
    color: rgb(6, 9, 56);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
#heading{
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 24%;
}
label{
    text-decoration: underline;
    font-weight: 400;
}
#search{
    font-weight: 600;
}
.ui.labeled.input{
    font-size: 16px;
}
.ui.grid{
    margin-left: 10%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(6, 9, 56);
}